  <% if current_user %>
    <% @farms.each do |farm| %>
    <div class="row-fluid">
      <div class="span6">
       
        <div class="text-center">
          <img src="http://placehold.it/600x300">
       </div>
     </div>
     <% end %>
  </div>
  <% end %>
