<div class="new-farm-form">
<h1>Submit a Farm</h1>
<%= link_to "Nevermind, take me back to the map", root_path(:anchor => 'footer'), :class => "btn btn-large btn-warning"%>
<%= render 'form' %>
</div>
