<div class="about-wrap">
	<div class="row-fluid">
		<div class="about-bar">
		</div>
			<div class="span6 offset1">
				<div class="about-info">
				<h1>About Farm Finder</h1>
				<p>
				Most people know that being a farmer is an extremely busy profession—farmers have an endless amount of tasks and duties in order to keep their farm functioning. However, one often forgets that a farm is also a business, and like all other businesses, they need marketing and publicity in order to be successful. As the “organic” and “slow-grow” movement continues to gain momentum, small farmers are struggling to advertise their Community Supported Agriculture (CSA) shares. At the same time, many consumers remain oblivious of the abundance of fresh produce available at nearby farms. The purpose of FarmFinder is to create a symbiotic relationship between the farmer and the consumer:  busy farmers can market their farms and CSAs, while unaware consumers can easily find a wealth of information about their local farms.  FarmFinder emphasizes the importance of small local farms and will increase public awareness of all the high quality produce available at your fingertips.</p></br>


				<p>Farmfinder is a two party marketplace application giving farmers the opportunity to share information about their farm, CSA, and location with the public.  The farm locations are geocoded and placed on a map, allowing the general public to find farms in their region.  Users are able to filter the results on the map by price, certification, and name.</p>
				
			</br>
			<p><%= link_to "Back to the map to find farms", pages_path %>  If you have any questions, please contact us <a>here</a></p>
			</div>
		</div>
	</div>
	<div class="main">
		<div id="static-image">
		<img src="/about_veggies.jpg" height="600" width="1150">
		</div>
	</div>
	<div class="copyright">
		<h6>&copy;Farm Finder 2013</h6>
		</div>
</div>