<div class="about-wrap">
	<div class="row-fluid">
		<div class="about-bar">
		</div>
			<div class="span6 offset1">
				<div class="about-info">
				<h1>About Farm Finder</h1>
				<p>Let the world know about your farm and what you are passionate about.  Signup to enter information about your farm and watch your farm pop up on the map for the public to see.</p><br>
				<p>Find farms near you that offer CSA's.  Eat local and support small farms.  So go back to the map and find a farm near you today.  <%= link_to "Back to the map to find farms", pages_path %>  If you have any questions, please contact us <a>here</a></p>
			</div>
		</div>
	</div>
	<div class="main">
		<img src="/about_veggies.jpg" height="600" width="1150">
	</div>
	<div class="copyright">
		<h6>&copy;Farm Finder 2013</h6>
		</div>
</div>