<div class="about-wrap">
	<div class="row-fluid">
		<div class="feedback-bar">
		</div>
			<div class="span6 offset1">
				<div class="about-info">
				<h1>Feedback</h1>
				<p>Have you found an issue or have a suggestion?  Please feel free to contact us.  We would love to hear from you and any thoughts you may have.</p>
			</div>
		</div>
	</div>
	<div class="main">
		<div id="static-image">
		<img src="/about_veggies.jpg" height="600" width="1150">
		</div>
	</div>
	<div class="copyright">
		<h6>&copy;Farm Finder 2013</h6>
		</div>
</div>